# Ignore database actual data
config/config.json
datastore/data/
datastore/docker/
datastore/snapshot.sh

# Ignore dump files
*.dump

#ignore meta folder
docs/
.vscode/

# Rust build artifacts
target/